html {
    border: none;
    border-radius: 10px;
    width: 272px;
}

body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', system-ui, sans-serif;
    font-size: small;
    width: 236px;
    height: 330px;
    padding: 10px;
}

#bluesky-logo,
#masto-logo,
#reddit-logo,
#x-logo {
    cursor: pointer;
}

#x-logo {
    font-size: large;
    font-weight: bold;
}

#title {
    color: #014a98ff;
    font-weight: bold;
    font-size: medium;
    margin: 5px;
}

#wrapper {
    border: 1px solid #014a98ff;
    border-radius: 5px;
    width: 210px;
    padding: 10px;
    margin-top: 5%;
}

#wrapper:hover {
    border-color: #017bfe
}