html {
    border: none;
    border-radius: 10px;
    width: 272px;
}

body {
    background-color: white;
    text-align: center;
    font-family: 'Roboto', system-ui, sans-serif;
    font-size: small;
    width: 236px;
    height: 100px;
    padding: 10px;
}

select {
    background-color: white;
    border: solid 1px #014a98ff;
    cursor: pointer;
    width: auto;
    padding: 5px;
    border-radius: 5px;
}

#title {
    color: #014a98ff;
    font-weight: bold;
    font-size: medium;
    margin: 5px;
}
